<h1 mat-dialog-title> Change Password</h1>
<div mat-dialog-content>
  <p>Please enter your current password</p>
  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Current Password</mat-label>
    <input type="password" matInput [(ngModel)]="password" placeholder="Current password">
    <mat-hint *ngIf="(passwordCorrect === false)" style="color: red;"> Invalid password! </mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="primary" (click)="checkPassword()">Continue</button>
  <button id="exitDialog" style="background-color: transparent; border: none; pointer-events: none;" [mat-dialog-close]="true"></button>
</div>

