.event-card {
  margin: 1rem;
}

.card {
  margin-bottom: 8px;
  max-width: 800px;
}

button {
  margin-right: 1rem;
}

button {
  margin: 8px 8px 8px 8px;
}

img {
  height: 200px;
  width: 90%;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}

.col-4 {
  display: inline-block;
  position: relative;
  width: 50%;
}
