@use '@angular/material' as mat;
@import "src/styles";

.seat {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
}

.seat-svg {
  position: relative;
}

.seat-clickable {
  cursor: pointer;
}

.seat-id {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: mat.get-color-from-palette($my-palette, 500);
  user-select: none;
}

.seat-polygon {
  position: absolute;
  fill: transparent;
  stroke: mat.get-color-from-palette($my-palette, 500);
}
