<div class="reset-container" *ngIf="tokenValid">
  <h5>Reset your password</h5>
  <div class="form-container">
    <form [formGroup]="resetForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput appBlankValidator formControlName="password" required type="password">
        <mat-error *ngIf="resetForm.controls.password.touched && resetForm.controls.password.invalid">
          <span *ngIf="resetForm.controls.password.errors.required">This field is mandatory.</span>
          <span *ngIf="resetForm.controls.password.errors.minlength">Password should be at least 8 characters long.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Confirm New Password</mat-label>
        <input matInput appBlankValidator formControlName="confirmedPassword" required type="password">
        <mat-error *ngIf="resetForm.controls.confirmedPassword.touched">
          <span *ngIf="resetForm.controls.confirmedPassword.hasError('passwordMismatch')">Password doesn't match.</span>
        </mat-error>
      </mat-form-field>

      <button appDebounceClick (debounceClick)="submit()" [debounceTime]="150"
              mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">Reset password</button>
    </form>
  </div>
</div>
<div *ngIf="!tokenValid" style="color:#f44336">
  {{errorMessage}}
</div>
