.register-container{
  text-align: center
}

.form-container{
  width: 400px;
  margin: 50px auto 0px;
}

.form-field{
  display: block
}


.snack-success{
  background-color: #5db844;
  color: white;
}

.snack-error{
  background-color: #f44336;
  color: white;
}
