<span class="header">
    <h2> How to use me!</h2>
</span>

<p style="text-align: center;">

    Firstly, please choose a name for the layout that you want to create.
    <br>
    <br>

    Then you can create the sectors, that should be present in your layout.
    You can always add further sectors during the whole layout creating process.
    <br>
    <br>

    You can draw the sector by hitting the slider right above the canvas.
    Then you must just click on the canvas, keep the mouse pressed and move it around to draw the sector.
    You can change the color of a sector by clicking on the colored preview in the sector overview.
    If you want to change the capacity or the price of an sector you must click on the drawn sector.
    <br>
    <br>

    If you want a seat to be present in your layout, just need to click on said seat, and it will then change the color to gray, to indicate that it has been selected.
    Every non-selected seat will not be dispalyed in the seat-chart.
    <br>
    <button mat-flat-button color="primary" style="margin-top: 2em;" (click)="closeHelp()">Close</button>
</p>
